.alert-box{ background-color: var(--accent1); color: #fff; font-weight: 500;
  width: fit-content; max-width: 94vw; padding: 10px 20px; border-radius: 5px; transition: 0.2s;
  position: fixed; bottom: -60px; left: 50vw; transform: translateX(-50%); z-index: 99999;
}

/* ====================================================================================================*/

.container{padding: 80px 5vw;}

.btn{border: none; background: none; cursor: pointer; font-size: 16px; display: inline-flex; align-items: center;}
.iconBtn{width: 1.6em; height: 1.6em;}
.iconBtn:hover{background-color: var(--bg3);}

.btn.primary{background-color: var(--accent1); color: white; border-radius: 6px; padding: 8px 14px;}
.btn.secondary{ border: 2px solid var(--accent1); border-radius: 6px; padding: 6px 12px;}
.btn.small.primary{padding: 6px 10px; font-size: 15px;}
.btn.small.secondary{padding: 4px 10px; font-size: 15px;}
.btn.large{font-size: 17px; border-radius: 8px;}
.btn.large.primary{padding: 10px 20px;}
.btn.large.secondary{padding: 8px 18px;}
.btn.primary2{background-color: var(--accent2); color: black; border-radius: 6px; padding: 8px 14px;}
.btn.secondary2{ border: 2px solid var(--accent2); color: var(--accent2); border-radius: 6px; padding: 6px 12px;}

.btn-link{font-weight: 500;}

.iconHolder{width: 1.2em; height: 1.2em;}


/*=====================================================================================================*/


.data-box{border-radius: 6px; padding: 4px 8px; font-size: 16px; font-weight: 500;}
.data-box.small{ padding: 2px 5px; font-size: 14px;}
.data-box.large{padding: 6px 10px; font-size: 18px;}


.data-item{border-radius: 10px; padding: 15px 15px 10px; font-weight: 500;
    background-color: var(--accent2); color: black;}
.data-item h6{text-transform: uppercase;}
.data-item p{font-size: 40px;}


/*=====================================================================================================*/


.model-overlay{position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; background-color: var(--overlay);
   display: flex; align-items: center; justify-content: center;}
.model{ background-color: var(--bg1); padding: 20px; border-radius: 20px; width: 400px; max-width: 96vw;}
.model h6{ font-size: 24px;}
.model p{ font-size: 15px; margin: 10px 0 30px;}


/*=====================================================================================================*/


.exam-list{ display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); grid-gap: 30px; flex-wrap: wrap; }
.exam-card{ border-radius: 6px; padding: 10px 10px 15px 10px; max-width: 400px; background-color: var(--light-accent-bg); cursor: pointer; position: relative;}
.exam-card:hover{ border-color: var(--txt2); }
.exam-card h5{ padding: 10px 0;}
.exam-card p{font-size: 14px;}
.exam-card .enroll-count{position: absolute; top: 10px; right: 10px;}


/*=====================================================================================================*/


.contentList{ display: grid; row-gap: 40px; margin: 30px 0; }
.contentItem{ padding: 10px; border: 2px solid var(--shadow); border-radius: 5px;}
.contentItem .question{padding: 10px 0; font-weight: 500;}
.contentItem .option{padding: 3px 8px; font-weight: 400; border-radius: 5px; margin-bottom: 10px;
    background-color: var(--light-accent-bg); color: var(--black);}
.contentItem .option.correct{background-color: var(--green-bg);}
.contentItem .option.selected{outline: 2px solid var(--accent1);}


/*=====================================================================================================*/


.exam-details .enroll-count{ position: absolute; top: 20px; right: 30px; }
.exam-details{background-color: var(--light-accent-bg); padding: 20px; border-radius: 20px;
    color: var(--black); position: relative; z-index: 1;}
.side-btns{ display: flex; gap: 10px; align-items: center; right: 20px; bottom: 20px; flex-wrap: wrap; margin-top: 30px;}
.exam-instructions li{ margin-bottom: 5px; list-style: disc; margin-left: 1em;}


/*=====================================================================================================*/


.people-list .d-grid{grid-template-columns: 50px 2fr 3fr 80px; gap: 20px; border-radius: 5px; padding: 5px;}
.people-list .d-grid:nth-of-type(1):hover{ background-color: transparent; }
.people-list .d-grid:hover{ background-color: var(--light-accent-bg); }
.t-head{font-weight: 500;}


.result-list .d-grid{grid-template-columns: 1fr 100px 100px 100px; gap: 20px; 
    border-radius: 5px; padding: 8px; color: var(--txt1); border-bottom: 1px solid var(--shadow);}
.result-list .t-head:hover{ background-color: transparent !important; color: var(--txt1) !important; }
.result-list .d-grid:hover{ background-color: var(--accent2); color: var(--black); } 


/*=====================================================================================================*/


.authForm{max-width: 400px;}


.option-type{display: flex; width: fit-content; background-color: var(--accent2); margin-bottom: 5px; border-radius: 5px;}
.option-type button{background-color: transparent; border: none; padding: 6px 10px; border-radius: 5px; color: black;}
.option-type .selected{background-color: var(--accent1); color: white;}
.option-image{max-width: 100%; max-height: 50vh;}


.file-access, .copy-to-clipboard{border-radius: 6px;}
.file-access p, .copy-to-clipboard p
    {max-width: calc(100% - 100px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.file-access button, .copy-to-clipboard button
    {background-color: var(--accent1); color: white; border: none;}
.file-access button:disabled{background-color: var(--shadow); cursor: default;}


.file-upload{ border-radius: 6px;}
.file-upload .btn{ border-radius: 0;}
.file-upload .btn:disabled{ background-color: var(--shadow) !important;}
.file-upload p{ width: calc(100% - 100px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/*=====================================================================================================*/

.pageLoader{ width: 100%; padding-top: 10vh; font-size: 32px; text-align: center;}

.loadingIcon{ height: 1em; width: 1em; overflow: hidden; display: inline-block;}

.loadingIcon svg {
  display: block;
  margin: 0 auto;
  animation: loading-spin 1s linear infinite;
  will-change: transform;
}

@keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loadingIcon circle {
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  stroke-linecap: round;
  animation: loading-spinner 1.7s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  transform: translateZ(0);
  transform-origin: center;
  will-change: stroke-dashoffset;
}

@keyframes loading-spinner {
  0% {
    stroke-dashoffset: 190;
    transform: scaleY(1);
  }
  49.99% {
    stroke-dashoffset: 0;
    transform: scaleY(1);
  }
  50% {
    stroke-dashoffset: 0;
    transform: scaleY(-1) rotate(25deg);
  }
  100% {
    stroke-dashoffset: 190;
    transform: scaleY(-1) rotate(-32deg);
  }
}

/*=====================================================================================================*/

form{max-width: 800px;}
label{font-size: 15px; font-weight: 500; padding-top: 15px;}
input, textarea, select{border: 1px solid #aaa; padding: 6px 10px; border-radius: 5px;
  color: var(--txt1); background-color: var(--bg2);}
input:disabled, input:read-only{background-color: var(--bg3); color: var(--txt2);}
.checkbox{ margin-top: 5px;}
.checkbox input{ display: inline; width: auto;}
.checkbox label{ display: inline; padding: 0 0 0 10px; font-weight: 400;}