:root{
  --home-accent: #FD695A;
  --home-accent2: #1f0029;
}
.haccent{color: var(--home-accent);}
.haccent2{color: var(--home-accent2);}
.haccent-bg{background-color: var(--home-accent);}
.haccent2-bg{background-color: var(--home-accent2);}



.not-found img{width: 800px; max-width: 90vw;}



.navbar{ top: 0; height: 60px; border-bottom: 2px solid var(--shadow); background-color: white; z-index: 999;}
.navbar .leadingName{color: black;}
.navbar img{height: 40px;}
.navbar a{font-family: var(--font2); font-weight: 700;}
.navbar a:hover, .nav-links button:hover{text-decoration: underline;}
.nav-links button{ background-color: transparent; border: none; color: inherit; font-family: var(--font2);
      font-weight: 700; font-size: 16px;}

.home-page .navbar.dissolve-nav{ background-color: transparent; color: white; border: none; }
.home-page .navbar.dissolve-nav .leadingName{ color: white; }
.home-page .navbar.dissolve-nav a{ color: white; }




.hbtn{font-size: 17px; font-family: var(--font2); font-weight: 500;}
.htype1{background-color: var(--home-accent); color: white; border-radius: 30px; padding: 15px 25px 15px 30px;}
.htype1:hover{background-color: #ff503d;}
.htype2{color: #888; border-bottom: 2px solid #888; padding: 3px 0 6px; height: fit-content;}
.htype2:hover{color: white; border-color: var(--home-accent);}
.htype3{background-color: #1f0029; color: white; border-radius: 10px; padding: 8px 20px 8px 25px;}

.navbar .htype1{padding: 6px 20px 6px 20px;}



.display-heading{font-size: 80px;}
.big-heading{font-size: 40px;}

.hero-section{padding: 120px 20vw 200px 10vw; color: white; background-color: #1f0029; min-height: 100vh;}
.hero-section h1{font-size: 120px; margin-top: 2vw;}
.hero-section p{color: #aaa; padding: 0 15vw 0 10px; border-left: 2px solid var(--accent2); line-height: 180%;}

.hero-image-div{ height: 10vw; width: 80vw;}
.hero-image-1{ width: 50vw; margin: auto;}
.hero-image-2{width: 30vw; top: 10vh; right: 1vw; width: 12vw;}

.gradient-circle{width: 1px; height: 1px; border-radius: 50%; background-color: var(--accent2);
  position: absolute; top: 90%; left: 70%; transform: translate(-50%, -50%); box-shadow: 0 0 500px 300px #ff6b1650;}


.home-features{padding: 80px 10vw;}
.home-feature{align-items: center; margin-bottom: 180px;}
.home-feature img{width: 30vw; max-width: 500px; max-height: 500px;}
.home-feature h5{font-size: 40px; line-height: 120%;}
.home-feature p{line-height: 160%;}
.home-feature ul{list-style-type: "\2714"; margin-left: 1em;}
.home-feature span{margin-left: 10px;}

.home-feature-end{background-color: #1f0029; height: 30vw; }
.home-feature-end img{width: 60vw; left: 50%; bottom: 120px; transform: translateX(-50%);}


.quoted img{width: 100%;}
.quoted{grid-template-columns: 100px 1fr;}

.review-circle{top: 0; left: 20vw; transform: translateY(-50%); 
  background-color: #eee; width: 15vw; aspect-ratio: 1; border-radius: 50%;}
.review-circle::after{content: ''; display: block; width: 140%; height: 140%; border-radius: 50%;
  border: 2px solid #eee; position: absolute; top: -20%; left: -20%;}
.review-quote{ top: 0; left: 23vw; transform: translateY(-50%); width: 8vw !important;}
.review-decoration div{position: absolute; aspect-ratio: 1; background-color: #FD695A; border-radius: 50%;}
.review-image{ margin-left: auto;}


.home-plans-section{background-color: #eee; overflow: hidden; padding: 140px 10vw;}
.home-plans-decoration{top: 400px; left: 50%; width: 1px; height: 1px; background-color: #FD695A;
    box-shadow: 0 0 300px 300px #FD695A60; z-index: 0;}
.home-plans-section h3{font-size: 20px;}
.home-plans-section h2{font-size: 40px;}
.home-plans{grid-template-columns: 1fr 1fr 1fr; gap: 50px;}
.home-plans div{ width: 100%; background-color: white; padding: 50px 30px 50px; text-align: center;}
.home-plans div:nth-of-type(2){background-color: var(--home-accent); padding: 30px;}
.home-plans div:nth-of-type(2) img{ width: 80%;}
.home-plans div:nth-of-type(2) h6{ font-size: 24px;}

.home-plans img{width: 60%; border-radius: 50%; margin: auto;}
.home-plans h6{font-size: 22px; padding: 40px 0 10px; color: #ff503d;}

.home-ending{background-color: #2b084c; color: white; padding: 110px 10vw;}
.home-ending h4{font-size: 40px;}
.home-ending h5{font-size: 20px;}
.home-ending img:nth-of-type(1){bottom:0; left: 0;}
.home-ending img:nth-of-type(2){bottom:0; right: 0;}




.contact-form{background-color: var(--home-accent); border-radius: 20px; height: fit-content;}




.content-page{grid-template-columns: 250px 1fr; column-gap: 60px; position: relative;}
.content-page aside{margin-top: 50px; position: sticky; position: -webkit-sticky; top: 100px; height: fit-content; }
.content-page aside a{ color: var(--txt2); padding: 2px 0; display: block;}
.content-page aside a:hover{ color: var(--txt1); text-decoration: underline;}
.content-page aside a.is-active{ color: var(--accent1); font-weight: 500;}

.contact-option{display: flex; align-items: center; margin-bottom: 10px;}
.contact-option .iconHolder{background-color: #2b084c; border-radius: 50%; margin-right: 10px;}


.info-div h1{margin: 50px 0 0px;}
.info-div h2{padding: 80px 0 25px;}
.info-div h4{padding: 30px 0 15px;}
.info-div p{margin-bottom: 10px; text-align: justify;}
.info-div ul{list-style: disc; margin-left: 1em; margin-bottom: 15px;}



.footer{background-color: #1f0029; color: white; font-family: var(--font2);}
.footer-links a{color: #aaa; line-height: 180%;}
.footer-links a:hover{color: #ddd;}
.footer-para{color: #aaa;}
.copyright-area{background-color: black; color: #aaa}




@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1; }
}




@media screen and (max-width: 600px) {
    .nav-links-mob{ flex-direction: column; width: 100%; left: 0; top: 60px; animation: fadeIn 0.2s;}
    .nav-links-mob a{ color: black !important;}
    .menu-icon{color: black;}
    .navbar.dissolve-nav .menu-icon.home-nav-icon{color: white;}

    .hero-section{padding: 120px 5vw 100px 5vw}
    .hero-section h1{font-size: 50px; margin-top: 60px;}
    .hero-section p{line-height: 140%;}

    .gradient-circle{box-shadow: 0 0 120px 120px #ff6b1660; top: 40vh; left: 45vw;}
    .hero-image-1{width: 90vw; max-width: 90vw;}
    .hero-image-2{width: 20vw;}


    .home-features{padding: 80px 5vw;}
    .home-feature h5{font-size: 30px;}
    .home-feature p{ font-size: 15px;}

    .home-feature img{width: 80vw; margin-bottom: 60px;}
    .home-feature .feature-image{order: 1;}
    .home-feature .feature-content{order: 2;}

    .home-feature-end{height: 240px;}
    .home-feature-end img{width: 80vw;}


    .quoted{grid-template-columns: 60px 1fr;}
    .quoted img{width: 100%;}

    .review-image-parent{display: flex; align-items: center; height: 100vw;}
    .review-image-div{width: 100%;}
    .review-circle{ width: 50vw;}
    .review-image{margin: auto;}


    .home-plans-decoration{top: 105vh; box-shadow: 0 0 200px 200px #FD695A60;}



    .footer-section{margin-top: 60px;}
}


@media screen and (max-width: 1200px) {
  .home-plans-section{ padding: 140px 5vw;}
}

@media screen and (max-width: 900px) {
  .home-plans{grid-template-columns: 1fr;}
}